@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

/** POMODORO **/

html, body, .container {
        height: 100%;
        width: 100%;
        overflow: hidden;
}

body {
   -webkit-app-region: drag;
}

li, a, button {
  -webkit-app-region: no-drag;
}

.row {
        margin: 0 !important;
}

.container {
        font-size: 14px;
        line-height: 24px;
        font-family: 'Lato', sans-serif;
        color: #fff;
        font-weight: 300;
        display: inline-block;
        width: 100%;
        min-height: 200px;
        max-width: 100%;
        position: relative;
        background: url('../img/bg-pattern.jpg');
        -webkit-box-shadow: 0 5px 38px 2px rgba(0,0,0,.7);
        -moz-box-shadow: 0 5px 38px 2px rgba(0,0,0,.7);
        box-shadow: 0 5px 38px 2px rgba(0,0,0,.7);
}

header h1 {
        text-align: center;
        font-size: 13px;
        line-height: 39px;
        margin: 0;
        font-weight: 300;
        color: rgba(255,255,255,.51);
}

.top-buttons {
        position: absolute;
        top:10px;
        right: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
}

.top-buttons li {
        text-indent: -999em;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 2px;
        background: url("../img/buttons.png") 0 0;
        opacity: 0.3;
        -webkit-transtion: all 0.15s;
        -moz-transtion: all 0.15s;
        transition: all 0.15s;
}

.top-buttons li.close-timer {
        background-position: 0 -23px;
}

.top-buttons li:hover {
        opacity: 1;
}



/** BACKLOG **/

.backlog .search-form {
        background: url("../img/buttons.png") no-repeat;
        background-position: 20px -63px;
        padding-left: 40px;
}

.backlog .search-form input[type=text] {
        margin-left: 20px;
        border-left: 1px solid rgba(255,255,255,0.2);
        padding-left: 20px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
}

.backlog .task-list {
        margin: 10px 0;
        border: 1px solid rgba(255,255,255,.1);
        border-right: 0;
        border-left: 0;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 380px;
        display: inline-block;
        width: 100%;
}

.backlog .task-list li {
        padding: 10px 90px 10px 0;
        position: relative;
}

.backlog .task-list li button.btn {
        position: absolute;
        top: 13px;
        right: 20px;
        padding: 0 5px;
}

.backlog .new-task {
        padding: 0 20px 20px;
}

.backlog input[type=text] {
        background: none;
        border: 0;
        color: #fff;
        outline-width: 0;
        font-weight: 300;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
}

.backlog input[type=text]:focus {
        outline: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-bottom: 1px dashed #c1c1c1;
}

.backlog input[type=submit]:disabled {
        display: inline-block;
        width: 140px;
        height: 30px;
        line-height: 22px;
        float: right;
        background: rgba(255,255,255,0);
        color: rgba(255,255,255,0.2);
        font-weight: normal;
        text-align: center;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: solid 2px rgba(255,255,255,.2);
        -webkit-transtion: all 0.15s;
        -moz-transtion: all 0.15s;
        transition: all 0.15s;
}

.backlog input[type=submit] {
        display: inline-block;
        width: 140px;
        height: 30px;
        line-height: 22px;
        float: right;
        background: rgba(255,255,255,0);
        color: rgba(255,255,255,0.2);
        font-weight: normal;
        text-align: center;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        border: solid 2px rgba(255,255,255,.2);
        -webkit-transtion: all 0.15s;
        -moz-transtion: all 0.15s;
        transition: all 0.15s;
        text-decoration: none;
        background: rgba(255,255,255,.8);
        color: rgba(51,51,51,.8);
}

.backlog .pomodoro-task-length {
        position: absolute;
        top: 13px;
        right: 75px;
        display: block;
        width: 76px;
        height: 19px;
        background: url(../img/pomodoros.png) repeat-x 0 0;
}

.backlog .pomodoro-task-length.pomodoros-1 {
  width: 19px;
}

.backlog .pomodoro-task-length.pomodoros-2 {
  width: 38px;
}

.backlog .pomodoro-task-length.pomodoros-3 {
  width: 57px;
}

.backlog .pomodoro-task-length.pomodoros-4 {
  width: 76px;
}

/** TIMER **/

.timer {
        font-size: 14px;
        line-height: 24px;
        font-family: 'Lato', sans-serif;
        color: #fff;
        font-weight: 300;
        width: 100%;
        height: 100%;
        display: inline-block;
        min-height: 200px;
        position: relative;
        background-color: #2a2a2a;
        box-shadow: 0 5px 38px 2px rgba(0,0,0,.7);
}

.timer h1 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 20px;
  text-indent: 0;
  margin: 0;
  text-align: left;
}

.timer h1:before {
  content: 'Task:';
  padding-right: 5px;
}


time {
        font-size: 60px;
        line-height: 60px;
        display: block;
        text-align: center;
        margin: 0 0 21px;
        text-shadow: 0 0 30px rgba(245,246,246,.3);
}

.pomodoro-buttons {
        margin: 0 25px 12px;
        padding: 0;
        list-style: none;
}

.pomodoro-buttons li {
        width: 50%;
        float: left;
        text-align: center;
}

.pomodoro-buttons li button {
        display: inline-block;
        width: 140px;
        height: 30px;
        line-height: 26px;
        background: rgba(255,255,255,0);
        color: rgba(255,255,255,0.2);
        font-weight: normal;
        text-align: center;
        border-radius: 15px;
        border: solid 2px rgba(255,255,255,.2);
        transition: all 0.15s;
        cursor: pointer;
        padding: 0;
}

.pomodoro-buttons li button:hover {
        text-decoration: none;
        background: rgba(255,255,255,.8);
        color: rgba(51,51,51,.8);
}

.pomodoro-tasks {
        padding: 0 0 0 49px;
}


.pomodoro-tasks li span{
        max-height: 24px;
        overflow: hidden;
        text-overflow:ellipsis;
}