<ng-include src="'app/navbar/navbar.html'"></ng-include>

<div class="container">
    <form class="navbar-form" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="filter">
        </div>
    </form>

    <div class="row">
        <div class="col-lg-8">
            <h2>task list</h2>
            <ul class="styled" ui-sortable ng-model="tasks">
                <li ng-repeat="task in tasks | filter:filter">
                    {{task.title}} [{{task.length}}]
                    <span class="btn btn-danger" ng-click="start(task)">GO!</span>
                    <input type="checkbox" ng-model="task.ready"/>
                </li>
            </ul>
        </div>

        <div class="col-lg-4">
            <h2>add new task</h2>
            <form ng-submit="add(task)" class="css-form" novalidate name="form">
                <input class="form-control" type="text" ng-model="task.title" placeholder="task title..." required/>
                <br />
                <input class="radio-inline" type="radio" ng-model="task.length" value="1" checked="checked"/> 1
                <input class="radio-inline" type="radio" ng-model="task.length" value="2" /> 2
                <input class="radio-inline" type="radio" ng-model="task.length" value="3" /> 3
                <input class="radio-inline" type="radio" ng-model="task.length" value="4" /> 4

                <hr />
                <input class="input" type="submit" value="add new task" ng-disabled="form.$invalid"/>
            </form>
        </div>
    </div>
</div>
