<div class="container backlog">
    <header>
        <h1>Backlog</h1>
        {{ currentTask }}
        <ul class="top-buttons">
            <li class="minimize" ng-click="minimize()">-</li>
            <li class="close-timer" ng-click="close()">x</li>
        </ul>
    </header>

    <form class="navbar-form " role="search">
        <div class="form-group search-form">
            <input type="text" class="form-control" placeholder="Search" ng-model="filter.title">
        </div>
    </form>

    <ul class="styled task-list" ui-sortable ng-model="tasks">
        <li ng-repeat="task in tasks track by $index | filter">
            <span ng-click="edit(task)" ng-bind="task.title" ng-hide="task.edited"></span>
            <input type="text" ng-model="task.title" ng-show="task.edited" ng-keypress="finish_edit(task,$event)" class="form">

            <span class="pomodoro-task-length pomodoros-{{task.length}}"></span>
            <button class="btn btn-success btn-xs" ng-click="start(task)">Start!</button>
        </li>
    </ul>

    <form ng-submit="add(task)" class="css-form new-task" novalidate name="form">
        <input class="form-control" type="text" ng-model="task.title" placeholder="task title..." required/>
        <br />
        <input class="radio-inline" type="radio" ng-model="task.length" value="1" checked="checked"/> 1
        <input class="radio-inline" type="radio" ng-model="task.length" value="2" /> 2
        <input class="radio-inline" type="radio" ng-model="task.length" value="3" /> 3
        <input class="radio-inline" type="radio" ng-model="task.length" value="4" /> 4
        <input class="input" type="submit" value="Add new task" ng-disabled="form.$invalid"/>
    </form>
</div>
